body {
    background-image: url('../img/galaxy_13-wallpaper-1920x1200.jpg');
}

.boxed {
    -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
}

/* Define backgrounds of divs */
#about {
    background-image: url('../img/316584-alexfas01.jpg');
}

#campaign {
    background-image: url('../img/286135-blackangel.jpg');
}

#multiplayer {
    background-image: url('../img/14672_4bed75c813799.jpg');
}

#req-h {
    background-image: url('../img/call-of-duty-4-gameplay-1080p.jpg');
}

#req-s {
    background-image: url('../img/call-of-duty-4-modern-warfare-2582.jpg');
}

#galaxy {
    background-image: url('../img/galaxy_13-wallpaper-1920x1200.jpg');
}

#void {
    background-image: url('../img/neon_void-wallpaper-5120x3200.jpg');
}


