<nav class="topnav">
    {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url==item.link %}class="active" {% endif %}>{{ item.name }}</a>
    {% endfor %}
    <!-- div class="topnav-right" -->
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="version-dropdown">
            <button class="version-dropdown-button">1.20.4</button>
            <div class="version-dropdown-content">
                <a href="#">1.19.3</a>
                <a href="#">1.19.4</a>
                <a href="#">1.20.1</a>
                <a href="#">1.20.2</a>
                <a href="#">1.20.4</a>
            </div>
        </div>
    <!-- /div -->
</nav>