* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(30, 30, 30, 1);
    color: #bbb;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

#content {
    padding: 16px;
}

.date {
    margin: 2px 0 20px 0;
    color: #666;
}

code.language-plaintext {
    background-color: #151515;
    color: #d38533;
}

pre.highlight {
    position: relative;
}

.copy-button {
    outline: none;
    display: block;
    padding: .2em .5em;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #666;
    background-color: #111;
    color: #ccc;
    margin: 8px 8px 0 0;

    &:hover {
        background-color: #333;
        color: #fff;
        cursor: pointer;
    }
}
