$default: #BBB;
$light_orange: #CE9178;
$light_cyan: #3BA1FB;
$dark_cyan: #00A3A3;
$green: #218500;
$light_green: #A0D090;
$purple: #c600c6;
$gray: #808080;
$blue: #8000FF;
$dark_gold: #ccad00;
$deep_cyan: #06adff;

pre { background-color: #111 }
.lineno { color: #666 }

.language-gradle {
    .s1 { color: $light_orange; }
    .k { color: $light_cyan; }
    .o { color: $default; }
    .n { color: $default; }
}

.language-properties {
    .py { color: $light_cyan; }
    .p { color: $default; }
    .s { color: $light_orange; }
}

.language-java {
    .nd { color: $light_cyan; }
    .kd { color: $light_cyan; }
    .kn { color: $light_cyan; }
    .kt { color: $light_cyan; }
    .nf { color: $light_green; }
    .na { color: $deep_cyan;}
    .nc { color: $dark_cyan; }
    .o { color: $gray; }
    .nn { color: $default; }
    .nd { color: $gray; }
    .c1 { color: $green; }
    .cm { color: $green; }
    .n { color: $default; }
    .s { color: $light_orange; }
    .mi { color: $light_cyan; }
    .mf { color: $light_cyan; }
    .kc { color: $light_cyan; }
    .k { color: $purple; }
}

.language-json {
    .nl { color: $light_cyan; }
    .s2 { color: $light_orange; }
    .mi { color: $light_green; }
    .mf { color: $light_green; }
    .kc { color: $light_green; }
    .p { color: $gray; }
}
