---
---
@import "main";
@import "top-navigation";
@import "side-navigation";
@import "tutorial";
@import "about";
@import "blog";
@import "home";
@import "syntax";
//@import "colorful";
//@import "monokai";

.lineno {
    min-width: 1.2em;
    text-align: right;
    margin-right: 8px;
    padding-right: 8px;
}

pre.highlight {
    width: 100%;
    display: block;
    border: solid 2px #333;
    padding: 8px;
    margin: 8px 0;
}

code,
pre { //,
// code > *,
// pre span {
    font-family: monospace;
    font-size: 1em;
    white-space: pre;
}

code {
    min-width: 100%;
}
