<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        {% include navigation.html %}
        {% include sidenav.html %}

        <p>
          {{ page.date | date_to_string }}
          {% assign tutorial = site.tutorials | first %}
          {% if tutorial %}
            - <a href="{{ tutorial.link }}">{{ tutorial.name }}</a>
          {% endif %}
        </p>

        {{ content }}
    </body>
</html>